.team-member-card{
    position: relative;
    padding-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.team-member-card:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.team-member-card .team-member-img{
    margin-bottom: 30px;
}
.team-member-card .team-member-img img{
    width: 100%;
}
.team-member-card .team-member-name{
    font-family: var(--font-raleway);
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: var(--peach-red);
    text-align: center;
}
.team-member-card .team-member-position{
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--dark-blue);
    text-align: center;
    margin-top: 10px;
}