.image-text-block .strip{
    width: 100%;
    background-color: var(--white);
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
}
.image-text-block .strip:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.image-text-block .strip .strip-icon{
    width: 70px;
    height: 70px;
    background-color: var(--off-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-text-block .strip .strip-title h4{
    font-family: var(--font-raleway);
    font-size: 20px;
    line-height: 20px;
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 10px;
}
.image-text-block .strip .strip-title p{
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--black);
}
.image-text-block .strip .strip-title a{
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: var(--peach-red);
}
.what-we-do .strips{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}
.what-we-do .strips .strip-icon{
    background-color: var(--peach-red-10);
}
.what-we-do .strips .strip-title h4{
    color: var(--peach-red);
}